{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Title -->
<div class="flex justify-center mb-8">
  <h1 class="text-3xl font-bold text-gray-800">Edit Product Entry</h1>
</div>

<!-- Edit Product Form -->
<form method="POST" class="space-y-6 max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md">
    {% csrf_token %}

    <!-- Product Name -->
    <div class="mb-6">
        <label for="name" class="block text-lg font-semibold text-gray-700 mb-2">Product Name</label>
        {{ form.name }}
    </div>

    <!-- Price -->
    <div class="mb-6">
        <label for="price" class="block text-lg font-semibold text-gray-700 mb-2">Price</label>
        {{ form.price }}
    </div>

    <!-- Description -->
    <div class="mb-6">
        <label for="description" class="block text-lg font-semibold text-gray-700 mb-2">Product Description</label>
        {{ form.description }}
    </div>

    <!-- Slime Quality -->
    <div class="mb-6">
        <label for="slime_quality" class="block text-lg font-semibold text-gray-700 mb-2">Slime Quality</label>
        {{ form.slime_quality }}
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end">
        <button type="submit" class="bg-[#905cb6] text-white py-3 px-6 rounded-lg font-semibold hover:bg-indigo-700 transition duration-300 ease-in-out transform hover:scale-105">
            Save Changes
        </button>
    </div>
</form>

{% endblock content %}
