{% extends 'base.html' %}
{% block content %}
<h2>Slime Shop App</h2>

<h4>NPM: </h4>
<p>{{ npm }}</p>  <!-- Fixed typo -->

<h4>Name:</h4>
<p>{{ name }}</p>

<h4>Class:</h4>
<p>{{ class }}</p>

{% if not product_entries %}
<p>There are no product data in ecommerceapp.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Slime Quality</th>  <!-- Assuming Slime Quality is a field -->
  </tr>

  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.slime_quality}}</td>  <!-- Add the correct field name -->
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'shop:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>

<a href="{% url 'shop:logout' %}"></a>
  <button>Logout</button>
</a>

<h5>Last login session: {{ last_login }}</h5>

{% endblock content %}

<!-- <>this is a paragraph</>
<h1>this is a paragraph -->

<div>
  <h1> this is a header </h1>
  <p> <span>this</span> is a paragraph </p> 
</div>

<!-- <span></span> -->




