{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    
    <style>
      body, h1, h2, h3, h4, h5, h6, p, table, form {
        text-align: center; /* Centralizes all text */
      }

      table {
        margin-left: auto;
        margin-right: auto; /* Centers tables on the page */
      }

      button, input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto; /* Centers buttons and form submit inputs */
      }
    </style>
  </head>

  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
